.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

.column:hover {
  flex: 25%;
  padding: 5px;
  transform: scale(1.2); 
  background-color: rgba(3, 3, 3, 0.466);
  transition: 1.5s;
}
